.home__hero {
  background-image: linear-gradient(to bottom, #2a7ddb, #18ade7);
  &--cta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-content: center;

    img {
      display: block;
      width: 100%;
    }

    @media (min-width: 1100px) {
      justify-content: start;
    }
  }
}
